<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- QUERY_ALL_PACKAGES requires explicit play store approval-->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- https://developer.android.com/reference/android/Manifest.permission -->
<!--    <uses-permission-->
<!--        android:name="android.permission.ACCESS_BLOBS_ACROSS_USERS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.ACCOUNT_MANAGER"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BATTERY_STATS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_APPWIDGET"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_AUTOFILL_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_CALL_REDIRECTION_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_CARRIER_MESSAGING_CLIENT_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_CARRIER_SERVICES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_CHOOSER_TARGET_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_COMPANION_DEVICE_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_CONDITION_PROVIDER_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_CONTROLS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_DEVICE_ADMIN"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_DREAM_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_INCALL_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_INPUT_METHOD"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_MIDI_DEVICE_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_NFC_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_PRINT_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_QUICK_ACCESS_WALLET_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_QUICK_SETTINGS_TILE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_REMOTEVIEWS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_SCREENING_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_TEXT_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_TV_INPUT"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_TV_INTERACTIVE_APP"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_VISUAL_VOICEMAIL_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_VOICE_INTERACTION"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_VPN_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_VR_LISTENER_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_WALLPAPER"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BLUETOOTH_PRIVILEGED"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BROADCAST_PACKAGE_REMOVED"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BROADCAST_SMS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BROADCAST_WAP_PUSH"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.CALL_PRIVILEGED"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.CHANGE_CONFIGURATION"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.CLEAR_APP_CACHE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.CONFIGURE_WIFI_DISPLAY"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.CONTROL_LOCATION_UPDATES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.DELETE_CACHE_FILES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.DELETE_PACKAGES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.DIAGNOSTIC"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.DUMP"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.FACTORY_TEST"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.GET_ACCOUNTS_PRIVILEGED"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.GLOBAL_SEARCH"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.INSTALL_LOCATION_PROVIDER"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.INSTALL_PACKAGES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.INTERACT_ACROSS_PROFILES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.LOADER_USAGE_STATS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.LOCATION_HARDWARE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MANAGE_DOCUMENTS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MANAGE_MEDIA"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MANAGE_ONGOING_CALLS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MANAGE_WIFI_INTERFACES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MANAGE_WIFI_NETWORK_SELECTION"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MASTER_CLEAR"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MEDIA_CONTENT_CONTROL"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MODIFY_PHONE_STATE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.OVERRIDE_WIFI_CONFIG"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.READ_INPUT_STATE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.READ_LOGS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.READ_NEARBY_STREAMING_POLICY"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.READ_PRECISE_PHONE_STATE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.REBOOT"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.REQUEST_COMPANION_PROFILE_APP_STREAMING"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.REQUEST_COMPANION_PROFILE_COMPUTER"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.REQUEST_COMPANION_SELF_MANAGED"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SEND_RESPOND_VIA_MESSAGE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SET_ALWAYS_FINISH"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SET_ANIMATION_SCALE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SET_DEBUG_APP"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SET_PREFERRED_APPLICATIONS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SET_PROCESS_LIMIT"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SET_TIME"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SET_TIME_ZONE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SIGNAL_PERSISTENT_PROCESSES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.SMS_FINANCIAL_TRANSACTIONS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.START_VIEW_APP_FEATURES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.START_VIEW_PERMISSION_USAGE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.STATUS_BAR"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.UPDATE_DEVICE_STATS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.USE_ICC_AUTH_WITH_DEVICE_IDENTIFIER"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.WRITE_APN_SETTINGS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.WRITE_GSERVICES"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.WRITE_SECURE_SETTINGS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.WRITE_SETTINGS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="com.android.voicemail.permission.READ_VOICEMAIL"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission-->
<!--        android:name="com.android.voicemail.permission.WRITE_VOICEMAIL"-->
<!--        tools:ignore="ProtectedPermissions" />-->

    <uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_COMPANION_APP" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.DELIVER_COMPANION_MESSAGES" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission
        android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_LOCK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_ACROSS_USERS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_ACROSS_USERS_SECURITY_CRITICAL" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_APPS_CONTROL" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_APP_RESTRICTIONS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_BACKUP_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CALLS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_DEBUGGING_FEATURES" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_INSTALL_UNKNOWN_SOURCES" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_LOCK_TASK" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_MODIFY_USERS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_ORGANIZATION_IDENTITY" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_RUNTIME_PERMISSIONS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SAFE_BOOT" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SUPPORT_MESSAGE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_TIME" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC_PREFERRED_PAYMENT_INFO" />
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_ASSISTANT_APP_SEARCH_DATA" />
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_HOME_APP_SEARCH_DATA" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_AUTOMOTIVE_PROJECTION" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_GLASSES" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_NEARBY_DEVICE_STREAMING" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
    <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RUN_LONG_JOBS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SUBSCRIBE_TO_KEYGUARD_LOCKED_STATE" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.TURN_SCREEN_ON" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.UWB_RANGING" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- ....................................................................................................... -->

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <!--For all/other package/app visibility - https://developer.android.com/training/package-visibility-->
    <!--https://stackoverflow.com/questions/63246442/android-11-r-return-empty-list-when-querying-intent-for-action-image-capture-->
    <queries>
        <!-- Specific apps flow launch will interact -->
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.dialer" />
        <package android:name="com.google.android.apps.messaging" />

        <!-- Specific intents flow launch will query for sharing, etc. -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".ThisApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlowLauncher"
        tools:targetApi="31">
        <!--The launch mode is set to single task to make sure that only one instance of this Activity is held by the system at any time-->
        <!-- android:launchMode="singleTask"-->
        <!-- android:stateNotNeeded="true"-->
        <!-- android:clearTaskOnLaunch="true"-->
        <!--configChanges: disables Activity recreation for MyActivity when the screen orientation and keyboard availability change -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!--This is launcher stuff-->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".glance.view.ExoPlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:turnScreenOn="true" />
        <activity
            android:name=".glance.view.YoutubeVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:turnScreenOn="true" />
        <activity
            android:name=".helper.BarcodeScanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".helper.services.PowerMenuService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/tb_accessibility_service" />
        </service>
        <service
            android:name=".helper.services.NotificationCountService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".helper.broadcastReceivers.CustomBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />

                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.UID_REMOVED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />

                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGES_SUSPENDED" />
                <action android:name="android.intent.action.PACKAGES_UNSUSPENDED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />

                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.APPLICATION_LOCALE_CHANGED" />
                <action android:name="android.intent.action.APPLICATION_RESTRICTIONS_CHANGED" />
                <action android:name="android.intent.action.CAMERA_BUTTON" />
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
                <action android:name="android.intent.action.DOCK_EVENT" />
                <action android:name="android.intent.action.DREAMING_STARTED" />
                <action android:name="android.intent.action.DREAMING_STOPPED" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_UNAVAILABLE" />
                <action android:name="android.intent.action.GTALK_CONNECTED" />
                <action android:name="android.intent.action.GTALK_DISCONNECTED" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MANAGE_PACKAGE_STORAGE" />

                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_NOFS" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTABLE" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.MY_PACKAGE_SUSPENDED" />
                <action android:name="android.intent.action.MY_PACKAGE_UNSUSPENDED" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_VERIFIED" />
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.UMS_CONNECTED" />
                <action android:name="android.intent.action.UMS_DISCONNECTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
        </receiver>

        <!--https://developer.android.com/reference/android/support/v4/content/FileProvider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androidstoragemadness.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- resource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>